a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  
  .nav__icon {
    vertical-align: top;
    width: 1.3rem;
    margin-right: 0.4rem;
  }
  .navlink__text {
    line-height: 1.3;
  }
  
  @media (min-width: 768px) {
    .nav__icon {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
    html {
      font-size: 16px;
    }
  }
  
  
  .nav {
    
  }